body {
    background-image: url('../img/txture.png');
}

h1, h2, h3 {
    font-family: "PTSansBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    /*line-height: 1;*/
}

h1, h2 {
    margin-top: 20px;
}

h1:first-child, h2:first-child {
    margin-top: 4px;
}

h3 {
    margin: 14px 0 6px;
}

a {
    color: #cc0f0c;
}

a:hover {
    color: #d16866;
}

.well {
    border: none;
}

.well > p:last-child {
    margin-bottom: 0;
}

.nav-pills > li > a:hover {
    color: #bd0e0b;
    background-color: #111;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    background-color: #7f0907;
}

.nav-header {
    padding: 10px 0 0 12px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

.page-header {
    padding-bottom: 0;
}

.help-block, .help-inline {
    color: #999;
}

.help-block {
    margin-top: 10px;
}

.dropShadow {
    -moz-box-shadow: 0 5px 10px black;
    -webkit-box-shadow: 0 5px 10px black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.subtleDropShadow {
    -moz-box-shadow: 0 3px 10px #111;
    -webkit-box-shadow: 0 3px 10px #111;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.largeCorners {
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.smallCorners {
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.whiteText {
    color: white;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

/* Login page */

div.jumboLogo {
    margin: 40px auto 30px auto;
    background-image: url('../img/threereddiamondjumbotron.png');
    width: 384px;
    height: 240px;
}

h1#JumboHeader {
    font-size: 40pt;
    line-height: 56pt;
}

#LoginControls .form-horizontal .control-label {
    width: 145px;
}

#LoginControls .form-horizontal .controls {
    margin-left: 165px;
}

/* Page template */

div.header {
    margin-top: 10px;
}

div.headerLogo {
    background-image: url('../img/threereddiamondsmall.png');
    width: 128px;
    height: 80px;
    margin-right: 15px;
}

h1.logoText {
    font-size: 34pt;
    line-height: 1.55;
    margin-top: 10px;
}

.userBox {
    padding-top: 14px;
}

/* other */
button#AddFriendButton {
    margin-left: 6px;
}